@model MyPortfolio.DAL.Entities.Portfolio

@{
    ViewData["Title"] = "Proje Bilgisini Güncelle";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Proje Bilgisini Güncelle</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Proje Güncelleme Formu</div>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="UpdatePortfolio" asp-controller="Portfolio">
                            <input type="hidden" asp-for="PortfolioId" />
                            <div class="form-group">
                                <label asp-for="Title">Başlık</label>
                                <input type="text" class="form-control" asp-for="Title" placeholder="Proje Başlığını Giriniz">
                            </div>
                            <div class="form-group">
                                <label asp-for="SubTitle">Alt Başlık</label>
                                <input type="text" class="form-control" asp-for="SubTitle" placeholder="Alt Başlık Giriniz">
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageUrl">Görsel URL</label>
                                <input type="url" class="form-control" asp-for="ImageUrl" placeholder="https://ornek.com/gorsel.jpg">
                            </div>
                            <div class="form-group">
                                <label asp-for="Url">Proje URL</label>
                                <input type="url" class="form-control" asp-for="Url" placeholder="https://proje-adresi.com">
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Açıklama</label>
                                <textarea rows="5" class="form-control" asp-for="Description" placeholder="Proje Açıklamasını Giriniz"></textarea>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="btn btn-success">Güncelle</button>
                                <a href="/Portfolio/Index" class="btn btn-danger">İptal</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>